.back {
    background-image: url("../../assets/images/NCSU_Talley_16.jpg");
    /* height: 100%; */
    /* width: 100%; */
    /* background-position: center; */
    /* background-repeat: repeat; */
    background-repeat: repeat;
}
.bg {
    /* background: lightsteelblue; */
    background-color: #fa691a;
background-image: linear-gradient(135deg,
#0AF511 0%,
#0BBCC0  50%);
  }

  h2 {
    text-shadow:
-1px -1px 0 rgba(255,255,255,.5),
1px 1px 0 rgba(0,0,0,.25),
3px 3px 3px rgba(0,0,0,.25),
10px 10px 20px rgba(0,0,0,.5),
20px 40px 40px rgba(0,0,0,.5);
}