<!-- <div class="bg"> -->
    <br/>
    <br/>
    <br/>
<h4 style="text-align:center">Student List</h4>

<div class="table-responsive" style="padding: 2% 10% 5% 8%;">
    <table style="text-align: center;" class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Course Id</th>
                <th scope="col">Course Name</th>
                <th scope="col">Credits</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{student.id}}</th>
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- </div> -->