<div class="back">
    <br />
    <br />
    <br />
    <h2 style="text-align:center; color: white;">Computer Science(14CSCBS)</h2>
    <br />
    <div *ngFor="let v of sampleData">
        <div>
            <h4 style="font-family: Impact, Charcoal, sans-serif;margin-left: 40%; color: red;text-align: center;background-color: black;margin-right: 40%;">{{v.Field}}</h4>
        </div>
        <div class="table-responsive" style="padding: 2% 10% 5% 8%;">
            <div class="bg">
                <table style="text-align: center;" class="table table-striped table-hover table-sm">
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col}}
                        </th>
                    </tr>
                    <tr *ngFor="let user of v.Value">
                        <td *ngFor="let col of index">
                            {{user[col]}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>