<div>
    <div style="float:left;">
        <!-- <h2>Recourser</h2> -->
        <img  src="../../assets/images/recourser-removebg-preview.png" class="rotate90"/>
    </div>
    <div style="float:right;">
        <button class="nav-item nav-link-edit tab" [routerLink]="['/home']">Home</button>
        <button class="nav-item nav-link-edit tab" (click)="myPack()">My Pack Portal</button>
        <button class="nav-item nav-link-edit tab" (click)="redirectGit()">GitHub</button>
        <button class="nav-item nav-link-edit tab" [routerLink]="['/help']">Help</button>
        <button class="nav-item nav-link-edit tab" [routerLink]="['/contact']">Contact Us</button>
    </div>
</div>